html{
    overflow-y: scroll;
}

.oui
{
    color: blue;
}

body
{
    background-image: url("oui.jpg"), url("non.jfif");
    background-position: top,bottom;
    background-repeat: no-repeat, no-repeat;
}

img 
{
    margin:0; 
    display:block
}